<beans>
    <interceptors>
        <!--class>org.jboss.seam.transaction.TransactionInterceptor</class-->
        <class>org.uberfire.security.server.authz.cdi.RolesInterceptor</class>
        <class>org.uberfire.security.server.authz.cdi.TraitInterceptor</class>
    </interceptors>
</beans>

    
    

